
// Import page-specific CSS files here.
@import "home";
@import "sign_up";

.sidebar {
  color: #446484;
  position: sticky;
  top: 61px;
  align-self: flex-start; // To check
  height: calc(100vh - 61px); // To check
  padding-top: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
  // width: 800px;
}

.simple_form {
  legend {
    font-weight: bold;
  }
}

.index-page-container {
  width: 75%;
  margin: auto;
}

.index-page-container h2{
  font-size: 48px;
  color: black;
}


.property {
  .fa-leaf {
    margin-left: 8px;
  }
}

.sidebar-form {
  .form-group {
    margin-bottom: 32px;
  }
}

.fa-leaf {
  color: green;
}

.index-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-template-rows: auto auto;
  align-items: center;
  grid-gap: 20px;
  margin-top: 16px;
  width: 100%;
}

.index-grid h2 {
  grid-column: 1 / - 1;
  grid-row: 1;
}


.restaurant-card:hover a{
  color: gray;
}

.restaurant-card:hover p{
  color: gray;
}

.restaurant-card:hover h4{
  color: gray;
}


.tasting-circle {
  width: 65px;
  height: 65px;
  position: absolute;
  border-radius: 50%;
  font-size: 10px;
  color: $m-blue;
  text-align: center;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: bold;
  top: 15px;
  right: 15px;
  font-family: 'Roboto', serif;
  font-weight: 500;
}

.dietary-circle {
  width: 65px;
  height: 65px;
  position: absolute;
  border-radius: 50%;
  font-size: 10px;
  color: $m-blue;
  text-align: center;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: bold;
  top: 15px;
  right: 90px;
  font-family: 'Roboto', serif;
  font-weight: 500;
}


@media(max-width: 768px) {
  .index-grid {
    grid-template-columns: 2fr;
  }

  .sidebar {
    position: unset;
    top: 61px;
    align-self: unset;
    padding-top: 5vh;
    padding-left: 2vh;
    padding-right: 0vh;
    height: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .sidebar-form {
    display: grid;
    grid-template-columns: 3fr;
    margin-right: 5vh;
  }

  .search_categories {
    grid-column: 1;
  }

  .search_dietary {
    grid-column: 3;
  }

  #filter{
    grid-column: 2;
  }

}