.cart_container{
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 75vh;
  grid-template-areas: 
  "Heading Order-summary-title"
  "Order-table Order-summary"
  "Order-table Order-summary";
}

.cart_heading{
  padding: 1em;
  border-bottom: 2px solid #D0D0D0;
  grid-area: Heading;
  align-self: end;
  h2 {
    // font-family: $fontSerif;
    font-size: 2em;
    float: left;
   }
}
.order_summary_title{
  grid-area: Order-summary-title;
  align-self: center;
  border-bottom: 2px solid #D0D0D0;
  padding: 1em ;
  align-self: end;
}

.order_summary{
  padding: 1em ;
  grid-area: Order-summary;
  align-self: center;
  border-left: 2px solid #D0D0D0;
  align-self: stretch;
}

.cart_grid{
  grid-area: Order-table;
  display: grid;
  grid-template-columns: 0.75fr 3fr 1fr;
  align-items: center;
  border-bottom: 2px solid #D0D0D0;
  height: 200px;
  padding-left: 16px;
}

.description_grid{
  padding-left: 16px;
}

.quantity_control{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  grid-gap: 8px;
}

.total_price{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cart_grid img{
  height: 130px;
  width: 130x;
}

.remove_item{
  justify-self: center;
  align-self: center;
}

a.add {
  text-decoration: none;
  // font-family: $fontSans;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: .5em;
  font-size: 0.75em;
  // display: inline-block;
  border-radius: 100%;
  line-height: .85;
   @include transition(all, .25s, linear);
  &:hover {
    background: green;
  }
  
}
a.remove {
  text-decoration: none;
  // font-family: $fontSans;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: .5em;
  font-size: 0.75em;
  // display: inline-block;
  border-radius: 100%;
  line-height: .85;
   @include transition(all, .25s, linear);
  &:hover {
    background: #f30;
  }
  
}