.navbar-lewagon {
  justify-content: space-between;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item a{
  color: white !important;
}

.navbar-brand h1{
  color: white;
}

.nav-link a{
  color: white !important;
  text-decoration: none;
}

.new-font{
  font-family: 'Old Standard TT', serif;
  font-size: 72px;
}

.nav-grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-areas: "two three one four five";
  width: 80%;
  margin: auto;
  justify-items: center;
  align-items: center;
}

.nav-item-log{
  font-size: 8px;
}

#nav-one{
  grid-area: one;
}

#nav-two{
  grid-area: two;
}
#nav-three{
  grid-area: three;
}
#nav-four{
  grid-area: four;
}
#nav-five{
  grid-area: five;
}