

.product-card {
  position: relative;
  height: 400px;
  color: #446484;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
  border-radius: 5px; /* 5px rounded corners */
  z-index: 0;
  .fa-star {
    color: #f2a339;
    text-shadow: 0 0 2px black;
  }
}



.product-card:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2);
  color: #446484;
}

.product-card-image{
  background-size: cover;
  background-position: center;
  transition: 0.7s;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.product-card-image:hover{
  transform: scale(1.1);
}

.product-card-info{
  display: grid;
  z-index: 2;
}

.product-card-container {
  padding: 2px 16px;
}


.property {
  p {
    margin-right: 8px;
  }
}

.product-card-rating {
  margin-bottom: 8px;
  h7 {
  margin-left: 24px;
  }
}

.flag img {
  height: 16px;
  width: 16px;
}

.index-card-grid{
  display: grid;
  grid-template-rows: 0fr 2fr 1fr 8fr;
  position: absolute;
  bottom: 4px;
  height: 100%;
  width: 100%;
}

.index-card-grid.text{
  padding: 15px;
}

.index-card-grid a{
  color: white;
  text-shadow: 2px 2px 2px 4px rgba(0,0,0,0.4) ;

}


.index-card-grid h4{
  color: black;
  padding: 15px;
  text-shadow: 2px 2px 2px 4px rgba(0,0,0,0.4) ;
  font-weight: 700;
}

.index-card-discover{
  align-self: end;
}


.index-card {
  position: relative;
}

.index-card-title {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 400;
  color: #f8f9fa;
  background: rgba(0,0,0,0.4);
  padding-left: 16px;
  padding-top: 16px;
  background-clip: padding-box;
}


// flag
// position: relative
// top: -240 px
