 
 .show-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   position: relative;
   margin-bottom: 32px;

   &:after {
    background: lightgray;
    content: '';
    display: block;
    height: 90%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    background: lightgray;
    bottom: 0px;
    transform: skewY(-2deg);
    transform-origin: 100%;
  }

 }
 
 .tasting-menu {
  background-repeat: no-repeat;
  box-shadow: 2px 1px rgba(0,0,0,0.1);
 }
 
 .btn-ghost {
   color: white;
   border: 1px solid #4A4A4A;
   padding: 8px 24px;
   border-radius: 50px;
   font-weight: lighter;
   background-color: lightblue;
 }
 
 .btn-ghost:hover {
   opacity: 1;
 }
 
 
 .tasting_description li {
 list-style-type: none;
 }
 

 .btn-gold {
   border-radius: 8px;
   text-decoration: none;
   background-color: #e5ae35;
   color: $m-blue;
   padding: 7px 15px;
 }
 
 .slick-arrow {
   color: black;
 }
 
 .meal_category {
   font-family: 'Pacifico', cursive;
   color: $m-blue;
   text-align: center;
   font-size:40px;
   position: absolute;
   top:10px;
   left:30px;
 }
 
 .wine_carousel_description {
   position: absolute;
   bottom: 140px;
   right: 190px;
   font-family: "Helvetica", "sans-serif";
   color: $m-blue;
 }
 
 .tasting_description {
  background-color: lightgray;
 }
 
 .show_mid_banner{
   background-color: #fffff;
   padding: 72px 32px; 
   display: grid;
 }

 .show_mid_text{
  max-width: 1175px;
  justify-self: center;
  text-align: center;
 }

 .bottom_container{
   background-color: lightgray;
   position: relative;
   z-index: 1;
   margin-top: 32px;
   left: 0;
   right: 0;
 
   &:before,
   &:after {
     background: lightgray;
     content: '';
     display: block;
     height: 90%;
     left: 0;
     position: absolute;
     right: 0;
     z-index: -1;
 
   }
 
   &:before {
     background: lightgray;
     top: 0;
     transform: skewY(-2deg);
     transform-origin: 0% 0;
     bottom: 0;
   }
   
   &:after {
     background: lightgray;
     bottom: -32px;
     transform: skewY(-2deg);
     transform-origin: 100%;
   }
 }

 .bottom_show_grid{
   display: grid;
   justify-content: center;
   align-items: center;
   max-width: 1338px;
   margin: auto;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   padding:32px 64px;
   grid-gap: 64px;
   padding-bottom: 75px;
   grid-template-areas: 
   "photo_one text_one"
   "text_two photo_two"
   "photo_three text_three";
 }

 .show_grid_photo_one{
  grid-area: photo_one;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  box-shadow: 2px 1px rgba(0,0,0,0.1);
}

.show_grid_text_one{
  grid-area: text_one;
}

.show_grid_photo_two{
  grid-area: photo_two;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  box-shadow: 2px 1px rgba(0,0,0,0.1);
}

.show_grid_text_two{
  grid-area: text_two;
  
}

.show_grid_photo_three{
  grid-area: photo_three;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  box-shadow: 2px 1px rgba(0,0,0,0.1);
}

.show_grid_text_three{
  grid-area: text_three;
}


 @media screen and (max-width: 600px) {
  .tasting-menu {
    padding-left: 1vh;
  }
  .tasting_description{
    text-align: start;
  }
   
  .show-container{
    grid-template-columns: 1fr;
  }

  .bottom_show_grid{
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-gap: 16px;
   padding-bottom: 16px;
   grid-template-areas: 
   "photo_one"
   "text_one"
   "photo_two"
   "text_two"
   "photo_three"
   "text_three";
  }
}