
.restaurant-info p{
  font-size: 16px;
 }
 
 .show-container{
   width: 1360px;
 }
 
 .bottom-container {  
   display: flex;
   position: relative;
   margin-top: 30px;
 }
 
 .basket-container{
   float: right;
   margin-right: 300px;
 }
 
 .tasting-menu {
   width: 1360px;
   padding-left: 40px;
 }
 
 .btn-ghost {
   color: white;
   border: 1px solid #4A4A4A;
   padding: 8px 24px;
   border-radius: 50px;
   font-weight: lighter;
   background-color: lightblue;
 }
 
 .btn-ghost:hover {
   opacity: 1;
 }
 
 
 
 .btn-dish {
   color: #4A4A4A;
   background-color: white;
   border: none;
   padding: 8px 24px;
   border-radius: 10px;
   opacity: 0.7;
   transition: opacity 0.3s ease;
 }
 
 .btn-dish:hover {
   opacity: 1;
   font-weight: bold;
 }
 
 .card-dish-pricing{
 
 }
 
 .btn-price {
   background-color: $m-blue;
   color: white;
   border-radius: 50px;
   padding: 7px 0px;
 
 }
 
 .btn-add-basket {
   position: absolute;
   left: 70px;
   bottom: 60px;
   text-align: center;
   color: white;
   background-color: $m-blue;
   font-size: 15px;
   border-radius: 8px;
   text-decoration: none;
 
 }
 
 .card-dish img{
 border-radius: 10px 10px 0px 0px;
 }
 
 .tasting_description li {
 list-style-type: none;
 }
 
 .wine_description li {
 list-style-type: none;
 }
 
 .btn-wine {
   color: $m-blue;
   background-color: white;
   border: none;
   font-size: 17px;
   margin-top: 25px;
   text-align: center;
 }
 
 .tasting_description h1 {
   color: $m-blue;
   text-align: center;
   font-weight: 500;
   margin-bottom: 24px;
 }
 
 .wine_description h1 {
   color: $m-blue;
   text-align: center;
   font-weight: 500;
   text-align: center;
 }
 
 .tasting-items {
   margin-top: 40px;
 text-align: center;
 }
 
 .tasting_description {
   text-align: justify;
 }
 
 .wine_description {
   height: 115px;
 }
 
 .btn-gold {
   border-radius: 8px;
   text-decoration: none;
   background-color: #e5ae35;
   color: $m-blue;
   padding: 7px 15px;
 }
 
 #new_order {
 color: white;
 }
 
 .slick-arrow {
   color: black;
 }
 
 .meal_category {
   font-family: 'Pacifico', cursive;
   color: $m-blue;
   text-align: center;
   font-size:40px;
   position: absolute;
   top:10px;
   left:30px;
 }
 
 .wine_carousel_description {
   position: absolute;
   bottom: 140px;
   right: 190px;
   font-family: "Helvetica", "sans-serif";
   color: $m-blue;
 }
 
 .tasting_img {
 // border-radius: 10px;
 }
 
 .wine_img {
 position: absolute;
 right :20px;
 }
 
 
 .bottom-container h2 {
   font-family: 'Playfair Display', serif;
   color: $m-blue;
   text-align: center;
   font-size: 40px;
 
 
 }
 
 .menu-title h3 {
   font-family: 'Playfair Display', serif;
   color: $m-blue;
   font-size: 25px;
   margin-left: 30px;
 }
 
 .alacarte_cards {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 }
 
 .btn-white {
   border-radius: 50px;
   text-decoration: none;
   color: $m-blue;
   background-color: $m-gold;
   font-family: 'Playfair Display', serif;
   color: #121b2a;
   padding: 7px 0px;
   position: absolute;
   top: -40px;
   left: 150px;
 }
 
 .link_to_modal {
   color: white;
   text-align: left;
 }
 
 .card-dish-infos p {
   color: white;
 }
 
 .new_order {
   color: $m-blue;
   text-align: center;
 }
 
 .title_price h2 {
 font-size: 15px;
 }
 
 .dish_instructions h2 {
   font-size: 15px;
 }
 
 .wine_title h2 {
   font-size: 15px;
 }
 
 
 .alacarte {
   background-color: $m-cultured;
   margin-left: 15px;
   padding: 20px;
   border-radius: 10px;
 }
 
 .reviews h4 {
   font-family: 'Playfair Display', serif;
   color: #121b2a;
 }
 
 .basket-info div {
   font-family: "Helvetica", "sans-serif";
   color: #121b2a;
   text-align: center;
   font-size: 20px;
 }
 
 .plus {
 position: absolute;
 top: 270px;
 left:530px;
 color: #121b2a;
 font-size: 60px;
 }
 
 .wine_carousel_description {
   max-width: 120px;
   font-size: 12px;
   text-align: center;
 }
 
 .basket-toggler{
   display: grid;
   grid-template-columns: auto auto;
   color: white;
 }
 
 .basket-toggler p{
   margin: 0;
 }
 
 .menu_width{
   width: 83.8%;
 }