
img{
	width: 100%;
	min-height: 100%;
}
.slider-nav{
  display: flex;
  justify-content: space-around;
}

.slick-slider .slick-slide {
  padding: 0 8px;
}


.card-dish-tasting {
  overflow: hidden;
  background: white;
}

.card-dish-tasting > img {
  height: 150px;
  width: 100px;
  object-fit: cover;
}

.card-dish-tasting-nav > img {
  height: 150px;
  width: 100px;
  object-fit: cover;
}

.slick-dots{
  position: absolute;
  top: -36px;
  max-height: 36px;
  display: block;
  width: 100%;
  padding: 10;
  margin: 0;
  list-style: none;
  text-align: center;
  }
  .slick-dots li.slick-active button:before{
    font-size:15px;
    color:blue;
  }